RewriteEngine On

# Exceções para arquivos estáticos
RewriteCond %{REQUEST_URI} ^/public/assets/ [NC]
RewriteRule ^ - [L]

# Redirecionar todas as outras requisições para index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]