/* Definir uma altura fixa para a barra de navegação */
.navbar {
    height: 110px; /* ou qualquer altura que você tenha configurado para a barra de navegação */
}

/* Adicionar margem superior ao conteúdo principal para evitar sobreposição com a barra de navegação */
.main-content {
    margin-top: 110px; /* igual à altura da barra de navegação */
}

/* Outros estilos existentes */
.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.user-image {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.user-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-details label {
    font-weight: bold;
}

.user-details input, .user-details select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

/* button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
} */

a {
    display: inline-block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos personalizados */

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
}

.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 100px; /* Espaço para o rodapé */
}

.card {
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 500px; /* Largura máxima do card */
}

h2 {
    color: #343a40;
}

.alert {
    margin-bottom: 20px;
}

footer {
    width: 100%;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    position: relative;
}

/* Estilos personalizados para os cards de pets */
.pet-card {
    width: 14rem;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pet-card img {
    height: 130px;
    object-fit: cover;
    object-position: center;
}

.pet-card .card-body p {
    height: 60px; /* Ajuste conforme necessário */
    overflow: hidden;
    text-overflow: ellipsis;
}

.pet-card .list-group-item {
    text-align: center;
}

/* Garantir que todos os cards tenham a mesma altura */
.pet-card-fixed-height {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pet-card-fixed-height img {
    height: 130px;
}

.pet-card-fixed-height .card-body {
    flex-grow: 1;
}

.pet-card-fixed-height .list-group-item {
    text-align: center;
}

.pet-card-fixed-height .card-body,
.pet-card-fixed-height .list-group,
.pet-card-fixed-height .list-group-item {
    margin-bottom: 0; /* Remover margens inferiores para evitar quebra de layout */
    padding: 5px; /* Ajustar padding para um design mais compacto */
}

.pet-card-fixed-height .card-body {
    padding-top: 5px; /* Garantir espaçamento superior compacto */
    padding-bottom: 5px; /* Garantir espaçamento inferior compacto */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pet-card-fixed-height .card-footer {
    padding-top: 5px; /* Garantir espaçamento superior compacto */
    padding-bottom: 5px; /* Garantir espaçamento inferior compacto */
    text-align: center; /* Centralizar conteúdo do footer */
}

/* Remover margin-top das imagens dentro dos cards de pets */
.pet-card a {
    object-fit: cover;
    object-position: center;
    margin-top: 0; /* Remover qualquer margem superior */
    margin-bottom: 0; /* Remover qualquer margem inferior */
}

/* Centralizar o link no card */
.pet-card .card-body a.card-link {
    display: block;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px; /* Ajustar a margem inferior conforme necessário */
}


.destaque-zoom:hover {
    transform: scale(1.07);
    transition: transform 0.6s;
}

.pet-card {
    width: 18rem;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pet-card img {
    max-height: 170px;
    object-fit: cover;
    object-position: center;
}

.pet-card .card-body p {
    height: 60px; /* Ajuste conforme necessário */
    overflow: hidden;
    text-overflow: ellipsis;
}

.pet-card .list-group-item {
    text-align: center;
}

.pet-card .card-body a.card-link {
    display: block;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px; /* Ajustar a margem inferior conforme necessário */
}

.pet-card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    margin-top: 10px;
    width: 100%;
}

.btn-secondary:hover {
    background-color: #5a6268;
    color: #fff;
}

.register-container {
    max-width: 400px; /* Ajuste conforme necessário */
    width: 100%;
}
