<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Meta tags Obrigat?rias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>Patinhas e Corações</title>
</head>

<body style="padding-top: 120px;">
  <!-- Menu navegação superior -->
  <nav class="navbar fixed-top navbar-expand-md bg-body-tertiary" style="box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);">
    <div class="container-fluid">
      <a class="navbar-brand ms-3" href="index.html">
        <img style="max-width: 70px;" src="img/logo.png">
      </a>
      <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  align-items-center ms-auto fw-bolded fs-5">
          <li class="nav-item px-3">
            <a class="nav-link active" aria-current="page" href="index.html">Início</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="animais.html">Quero adotar</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="form_doacao.html">Quero doar</a>
          </li>
          <li class="nav-item px-2 btn-group">
            <!-- <button type="button" class="btn btn-warning text-dark nav-item fw-bolded fs-5" href="login_usuario.html">Login</button> -->
            <button type="button" class="btn btn-warning text-dark nav-item fw-bolded fs-5 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="login_usuario.html">Eduardo</button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-start">
              <li><a class="dropdown-item" href="meus_dados.html">Meus dados</a></li>
              <li><a class="dropdown-item" href="minhas_adocoes.html">Minha adoções</a></li>
              <li><a class="dropdown-item" href="#">Minhas Doações</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>

          </li>
        </ul>

      </div>
    </div>
  </nav>

  <section class="container ">
    <div class="row">
      <div class="col-8 col-md-10 mt-2 mb-3 mx-auto py-3 px-md-5 border rounded bg-body-tertiary" style="box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);">
        <h1 class="fw-bolded fs-3 text-warning text-center">Cadastre seu pet para doação</h1>
        <div class="mb-3">
          <label for="nomePet" class="form-label fw-bolded">Nome do Pet</label>
          <input type="text" class="form-control" id="nomePet">
        </div>
        <div class="mb-3">
          <label for="descricaoPet" class="form-label fw-bolded">Breve descrição do Pet</label>
          <textarea class="form-control" id="descricaoPet" rows="2"></textarea>
        </div>
        <div class="row">
          <div class="col ms-1 mb-1">
            <label for="form_especie" class="form-label fw-bolded">Espécie</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Selecione</option>
              <option value="cao">Cão</option>
              <option value="gato">Gato</option>
            </select>
          </div>
          <div class="col ms-1 mb-1">
            <label for="form_sexo" class="form-label fw-bolded">Sexo</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Selecione</option>
              <option value="F">Fêmea</option>
              <option value="M">Macho</option>
            </select>
          </div>
          <div class="col mb-3">
            <label for="racaPet" class="form-label fw-bolded">Raça do Pet</label>
            <input type="text" class="form-control" id="racaPet">
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="idadePet" class="form-label fw-bolded">Idade(anos)</label>
            <input type="text" class="form-control d-inline" id="idadePet">
          </div>
          <div class="col mb-3">
            <label for="pesoPet" class="form-label fw-bolded">Peso(kg)</label>
            <input type="text" class="form-control d-inline" id="pesoPet">
          </div>
          <div class="col mx-1 mb-1">
            <label for="form_cidade" class="form-label fw-bolded">Cidade</label>
            <input type="text" class="form-control" id="form_cidade" placeholder="">
          </div>
          <div class="col mx-1 mb-1">
            <label for="form_estado" class="form-label fw-bolded">Estado</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Selecione</option>
              <option value="1">SP</option>
              <option value="2">MG</option>
              <option value="3">RJ</option>
              <option value="4">AC</option>
              <option value="5">AL</option>
              <option value="6">AP</option>
              <option value="7">AM</option>
              <option value="8">BA</option>
              <option value="9">CE</option>
              <option value="10">DF</option>
              <option value="11">ES</option>
              <option value="12">GO</option>
              <option value="13">MA</option>
              <option value="14">MT</option>
              <option value="15">MS</option>
              <option value="16">PA</option>
              <option value="17">PB</option>
              <option value="18">PR</option>
              <option value="19">PE</option>
              <option value="20">PI</option>
              <option value="22">RN</option>
              <option value="22">RS</option>
              <option value="23">RO</option>
              <option value="24">RR</option>
              <option value="25">SC</option>
              <option value="26">SE</option>
              <option value="27">TO</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="personalidadePet" class="form-label fw-bolded">Personalidade do Pet</label>
            <input type="text" class="form-control" id="personalidadePet">
          </div>
          <div class="mb-3">
            <label for="necessidadesEspeciaisPet" class="form-label fw-bolded">Necessidades Especiais do Pet</label>
            <input type="text" class="form-control" id="necessidadesEspeciaisPet">
          </div>
          <div class="mb-3">
            <label for="entregaPet" class="form-label fw-bolded">Disponibilidade para entregar o Pet para o Adotante? Se sim, até quantos quilômetros?</label>
            <input type="text" class="form-control" id="entregaPet">
          </div>
          <div class="mb-3">
            <label for="fotosPet" class="form-label">Anexe as fotos do seu Pet</label>
            <input class="form-control" type="file" id="fotosPet" multiple>
          </div>
          <div class="form-check my-4">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Declaro que estou decidido pela doação, e concordo em avaliar com critério o perfil dos interessados na adoção deste animal de estimação.
            </label>
          </div>
          <button type="button" class="btn btn-warning mx-1 my-3 ">Cadastrar</button>
        </div>
      </div>

  </section>


  <footer class="container-fluid bg-light" style="box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);">
    <div class="container">
      <div class="row">
        <div class="col mt-3"><img src="img/logo.png" alt="Logo Patinhas e Corações" style="height: 150px;"></div>
        <div class="col">
          <h4 class="h3 my-3 text-dark">Mapa do Site</h4>
          <ul class="list-unstyled mb-5">
            <li><a class="text-dark" href="index.html">Início</a></li>
            <li><a class="text-dark" href="animais.html">Quero adotar</a></li>
            <li><a class="text-dark" href="">Quero doar</a></li>
            <li><a class="text-dark" href="">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript (Opcional) -->
  <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>